.info-label{
    font-size : 20px;
    padding : 10px 0;
    font-weight: 700;
    margin-top : 15px;
}

.info-text{
    font-size: 18px;
}

.info-img-container{
    text-align: center;
    background-color: #dfdfdf;
    padding : 50px 0;
    border-radius: 10px;
    margin-top: 25px;
}

.info-img{
    max-width: 95%;
    max-height: 1000px;
    margin-bottom : 20px;
}

.info-container h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.info-container .category-txt{
    font-size : 18px;

}

.icon:hover{
    cursor: pointer;
}

.info-container .icon{
    font-size: 30px;
    margin-right: 20px;
}

.icon-left {
    font-size: 50px;
    color : #7f2b9b;
}

